.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    max-width: 1184px;
    min-height: 740px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
  }
  
  .cover__overlay:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media  screen and (max-width: 320px) {
    .cover__overlay {
      max-width: 320px;
      grid-template-columns: 320px;
      grid-template-rows: 200px;
      row-gap: 16px;
    }
  }