.place {
  display: grid;
  grid-template-columns: minmax(320px, 460px) 1fr;
  grid-template-rows: minmax(min-content, max-content) 48px minmax(320px, 1fr);
  grid-template-areas:
    "title website"
    ". ."
    "image paragraph";
    column-gap: 40px;
}

@media  screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(320px, 440px) 1fr;
    column-gap: 32px;
  }
}

@media  screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(320px, 340px) 1fr;
    column-gap: 28px;
  }
}

@media  screen and (min-width: 480px) and (max-width: 680px) {
  .place {
    grid-template-columns: minmax(160px, 340px) min-content;
    grid-template-rows: repeat(2, minmax(min-content, max-content)) repeat(2, minmax(min-content, max-content));
    row-gap: 32px;
    grid-template-areas:
    "title website"
    "image paragraph";
  }
}

@media  screen and (min-width: 321px) and (max-width: 480px) {
  .place {
    grid-template-columns: minmax(320px, min-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content)) 320px minmax(min-content, max-content);
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    row-gap: 32px;
    column-gap: 0;
  }
}

@media  screen and (max-width: 320px) {
  .place {
    grid-template-columns: minmax(320px, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content)) 320px minmax(min-content, max-content);
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    row-gap: 32px;
    column-gap: 0;
  }
}
