.cover__text-container {
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-content: center;
    position: absolute;
    z-index: 2;
    row-gap: 32px;
}

@media screen and (max-width: 320px) {
    .cover__text-container {
        max-width: 288px;
        row-gap: 16px;
    }
}